<mat-sidenav-container fullscreen class="sidenav-container" [class.dark-theme]="isDarkTheme">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()">Home</a>
            <a mat-list-item routerLink="/thesaurus" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()">English Dictionary</a>
            <a mat-list-item routerLink="/spanish" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()">English/Spanish Dictionary</a>
            <a mat-list-item routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()">About</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="primary-toolbar">
            @if (isHandset$ | async) {
                <button mat-icon-button class="primary-menu-button" (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            }
            <span [class.pad-title]="(isHandset$ | async) === false">{{ title }}</span>
        </mat-toolbar>

        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
