@use '@angular/material' as mat;

.home-header {
    margin: 0 10px;
    padding: 0;

    h2 {
        margin-bottom: 0;
    }
}

.dictionary-history {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.dictionary-history-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;

    a {
        z-index: 0;
        @include mat.button-overrides(
            (
                text-label-text-size: 16px,
                text-container-height: 24px
            )
        )
    };
}

.load-more-definitions {
    @include mat.button-overrides(
        (
            text-label-text-color: var(--mat-sys-tertiary)
        )
    )
}