<div class="home-header">
    <h2>Recent History</h2>
</div>

<div class="dictionary-history">
    <div class="history-header">
        <h3>Dictionary</h3>
    </div>

    @if (homeService.allThesaurusEntries().length > 0) {
        <div class="dictionary-history-list">
            @for (entry of homeService.allThesaurusEntries(); track entry) {
                <a mat-button role="presentation" (click)="homeService.onWordClick(entry)">{{ entry.id }}</a>
            }

            @if (homeService.pageSize() <= homeService.allThesaurusEntries().length) {
                <a mat-button role="presentation" class="load-more-definitions" (click)="homeService.onClickMoreDefinitions()"><u>load more</u></a>
            }

            @if (homeService.pageSize() > DEFAULT_PAGE_SIZE) {
                <a mat-button role="presentation" class="load-more-definitions" (click)="homeService.onResetPageSize()"><u>reset</u></a>
            }
        </div>
    }
</div>
